[Unit]
Description=pids - Pi Digital Signage

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/pids
Restart=always

[Install]
WantedBy=multi-user.target
